body {padding: 10px 0; color: black;}
.wrapper{min-height: 752px;}
header{padding-top: 10px; background-color: #F8F8F8;}
main{padding-top: 15px; background-color: #F8F8F8;}
footer{margin-top: 20px; position: relative; bottom: 0; width: 100%; height: auto; background-color: #1e1e1e; color: #fff;}

header .row > div {height: 90px;}
nav{background-color: #fff;}
nav ul{width: 100%; font-weight: bold;}
footer p{padding-top: 1%;}
textarea{resize: vertical;}
.navbar{border-radius: 0;}
/*--contacts--*/
.contacts{padding-right: 30px; font-size: 140%; font-weight: bold;}
.feedback-contacts{margin-bottom: 10px;}
.map{height: 400px;}
/*--carousel--*/
.carousel-left-custom{left: 0; right: auto;}
.carousel-right-custom{right: 0; left: auto;}
/*--catalog--*/
.catalog-item-wrap{background-color: #fff; padding-top: 15px;}
.catalog-item-inside{height: 280px;}
/*-----------*/
aside{height: 500px; background-color: #f8f8f8; border: 1px solid #e7e7e7;}
body{background-image:url(../img/bg/wood3.jpg);}